/* Whole Document */

body {
    margin: 0;
    background-color: #001E29;
    font-family: Roboto;
    color: #F8F8FF;
}

::-webkit-scrollbar {
    height: 0.7em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 0.7em;
}

@-moz-document url-prefix() {
    #missions-tables {
        scrollbar-color: #606060 transparent;
        scrollbar-width: thin;
    }
}

/* Header and Menu */

header {
    text-align: center;
    background-color: #004B66;
    padding: 0.1em;
}

header h1 {
    letter-spacing: 0.5ch;
    margin: 0.3em auto 0.1em 0;
}

header p {
    margin: 0 auto 0.6em auto;
}

/* Sections and Content */

section {
    background-color: #70D9FF;
    overflow: hidden;
}

.tab {
    background-color: #0087B8;
    padding: 0.7em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.tab h2 {
    margin: 0;
}

.tab i {
    font-size: xx-large;
}

.content {
    padding: 2em;
    transition: max-height 0.2s ease-out;
}

.collapsed {
    display: none;
}


/* Missions */

#missions h3 {
    color: black;
    margin-top: 0;
}

#missions-tables {
    overflow-x: scroll;
}

#missions-tables div {
    display: grid;
    gap: 1em 2em;
    overflow: auto;
    white-space: nowrap;
    width: fit-content;
}

#missions-tables table {
    background-color: #F8F8FF;
    color: black;
    text-align: center;
    border-collapse: collapse;
    height: min-content;
}

#missions-tables td {
    border: 2px solid black;
    padding: 0.4em;
}

.row-2 {
    grid-row: 2;
}

.lightgreen {
    background-color: lightgreen;
}

.yellow {
    background-color: yellow;
}

/* Progress */

#progress-bar {
    border: 5px solid black;
    height: 3em;
    background-color: #F8F8FF;
    display: grid;
}

#progress-bar p {
    font-size: 1.6em;
    grid-column: 1;
    grid-row: 1;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#progress-bar div {
    background-color: #30b630;
    width: 1%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

#progress h3 {
    color: black;
}


/* Timer */

#timer .content {
    text-align: center;
}

#timerText {
    color: black;
    font-size: xx-large;
    border: 4px solid black;
    width: fit-content;
    margin: auto;
    background-color: #F8F8FF;
    padding: 0.4em;
    cursor: pointer;
}

#timerButtons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

#timerButtons button:hover {
    text-decoration: underline;
}

#timerButtons button:active {
    text-decoration: underline;
    transform: translateY(4px);
}

#timerButtons button {
    font-family: inherit;
    font-size: x-large;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

#timerStart {
    background-color: #30b630;
}

#timerPause {
    background-color: #FFCA2C;
}

#timerReset {
    background-color: #DC3545;
}